@*
    This file is a part of SlimGet project.

    Copyright 2019 Emzi0767

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/slimget.css" />
        @if (this.Context.Request.Query["comicsans"] == "yesplease")
        {
            <link rel="stylesheet" href="~/css/secret-comicsans-mode.css" />
        }
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/slimget.min.css" asp-append-version="true" />
        @if (this.Context.Request.Query["comicsans"] == "yesplease")
        {
            <link rel="stylesheet" href="~/css/secret-comicsans-mode.min.css" asp-append-version="true" />
        }
    </environment>
</head>
<body>
    <div class="slimget-header" id="header">
        <div class="slimget-header-inner">
            <a href="@Url.Action("Index", "Gallery")" class="slimget">SlimGet</a>
            <a href="@Url.Action("Packages", "Gallery")" class="nav-link">Packages</a>
            <a href="@Url.Action("About", "Gallery")" class="nav-link">About</a>
        </div>
    </div>

    <div class="slimget-content" id="main-content">
        <div class="slimget-content-inner">
            @RenderBody()
        </div>
    </div>

    <div class="slimget-footer" id="footer">
        <div class="slimget-footer-inner">
            <p>
                &copy; @(DateTime.UtcNow.Year == 2019 ? "2019" : $"2019 - {DateTime.UtcNow.Year}") Emzi0767
            </p>
            <p>
                SlimGet is <a href="https://en.wikipedia.org/wiki/Free_software" title="Free Software (Wikipedia article)">Free Software</a>,
                licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0.html" title="Apache License 2.0 on Apache Software Foundation's website">Apache License 2.0</a>.
                You can obtain it and its source code from <a href="https://github.com/Emzi0767/SlimGet/" title="SlimGet on GitHub">GitHub</a>.
            </p>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
